{% extends 'base.html.twig' %}

{% block title %}Mon profil
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>Bonjour</h1>
		{# Accéder à mon profil utilisateur #}
		<a href="{{ path('app_profile') }}">Profile</a>
		<a href="{{ path('app_logout') }}">Se déconnecter</a>
		{# <a href="{{ path('app_profile') }}">Profile</a> #}
	</div>
{% endblock %}
