{% extends './base.html.twig' %}

{% block title %}Ajout d'une facture - Facture&Devis
{% endblock %}

{% block body %}
	<div class="example-wrapper element__form__container">
		<div class="element__form__title">
			<h1>Ajouter une facture</h1>
			<a href="/invoice">Retour</a>
		</div>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %}
