.list__header {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #6858FE;
  color: white;
}
tr{
  background-color: #eeeeee;
}
tr:nth-child(odd) {
  background-color: #fff;
}