{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>Modifier les informations de mon client</h1>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{# <button type="submit">Modifier</button> #}
		{{ form_end(form) }}
	</div>
{% endblock %}
