{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>Clients id
			{{ estimate.id }}</h1>
	</div>
{% endblock %}
